<div class="is-article">
  <div class="article-title">{{title}}</div>
  <div class="article-date">{{date}}</div>
  <div class="article-detail">
    {{{text}}}
  </div>
  <div class="more-articles">
  <div>You Might Like</div>
  {{#each r in recommendations}}
    <div class="recommendation">
      <img {{bind-attr src=r.coverImage}}/>
      <div>
        {{#link-to 'article' r.id}}
          {{r.title}}
        {{/link-to}}
      </div>
    </div>
  {{/each}}
  </div>
</div>
