<ul class='is-profile'>
  <li>
    <p>
      <span>Date</span>
      <span>Calorie Intake</span>
      <span>Calorie Burnt</span>
    </p>
  </li>
  {{#each profile in controller}}
    {{!-- {{#link-to 'book' book.id}} --}}
    <li>
      <p>
        {{!-- <span {{action "editTodo" on = "doubleClick"}}>{{profile.date}}</span> --}}
        <span>{{input type="date" value=profile.date disabled=isNotEditing}}</span>
        <span>{{input type="eat" value=profile.eat disabled=isNotEditing}}</span>
        <span>{{input type="workout" value=profile.workout disabled=isNotEditing}}</span>
      </p>
    </li>
    {{!-- {{/link-to}} --}}
  {{/each}}

</ul>
<footer>
    {{#if isNotEditing}}
      <a {{action 'edit'}}>Edit</a>
    {{else}}
      <a {{action 'save'}}>Save</a>
    {{/if}}
</footer>