<ul class='is-profile'>
  <li>
    <p>
      <span class="date"><b>Date</b></span>
      <span class="eat"><b>Calorie Intake</b></span>
      <span class="workout"><b>Calorie Burnt</b></span>
    </p>
  </li>
  {{#each profile in controller}}
    {{!-- {{#link-to 'book' book.id}} --}}
    <li>
      <p>
        {{!-- <span {{action "editTodo" on = "doubleClick"}}>{{profile.date}}</span> --}}
        <span class="date">
          {{#if isNotEditing}}
            {{profile.date}}
          {{else}}
            {{input type="date" value=profile.date disabled=isNotEditing}}
          {{/if}}
        </span>
        <span class="eat">
          {{#if isNotEditing}}
            {{profile.eat}}
          {{else}}
            {{input type="number" value=profile.eat disabled=isNotEditing}}
          {{/if}}
        </span>
        <span class="workout">
          {{#if isNotEditing}}
            {{profile.workout}}
          {{else}}
            {{input type="number" value=profile.workout disabled=isNotEditing}}
          {{/if}}
        </span>
        {{#if isNotEditing}}
        {{else}}
          <button {{action "delete" profile.id}} class="destroy">✖</button>
        {{/if}}
      </p>
    </li>
    {{!-- {{/link-to}} --}}
  {{/each}}

</ul>
<footer>
  <a {{action 'create'}}>New</a>
    {{#if isNotEditing}}
      <a {{action 'edit'}}>Edit</a>
    {{else}}
      <a {{action 'save'}}>Save</a>
    {{/if}}
</footer>
